.item{
width : 30%;
margin-bottom: 50px;
background:#73b3c7 ;
border-radius: 10px;
overflow: hidden;

img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 1000ms ease;
}

img:hover{
    transform: scale(1.05);

}


}