header{
    position: relative;


    .logo{
        font-weight: 600;
        font-size: 26px;

    }

    .nav{
        float: right;
        list-style: none;
        li{
            display: inline;
            margin-left:25px ;
            cursor: pointer;
            font-size: 15px;
            font-weight: 600;
            transition: opacity 500ms ease;
        

        &:hover{
            opacity: 0.5;
        }
    }

    }


    .shopCartButton{
        float: right;
        cursor: pointer;
        transition: color ,transform 500ms ease;
    

    &:hover,
    &.active{
        color: rgb(255, 0, 0);
        transform: scale(1.5);
    
}


}


.shopCart{
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    min-height: 100px;
    background: #156d88;
    -webkit-box-shadow: -20px 20px 22px 12px rgba(7, 7, 7, 0.23);
    -moz-box-shadow: -20px 20px 22px 12px rgba(7, 7, 7, 0.23);
    box-shadow: -20px 20px 22px 12px rgba(7, 7, 7, 0.23);
    z-index: 1000;

  

}

    .presentation{
        margin:50px 0;
        background: url(./../../assets/banner.jpg) no-repeat;
        width: 100%;
        height: 500px;
        background-size: cover;
        background-position:center center ;
        background-blend-mode: multiply ;
        position: relative;
        border-radius: 15px;
       
    

    &::after{
        content: 'Лучшая электроника для вашей семьи';
        color: antiquewhite;
        position: absolute;
        top: 60px;
        right: 5px;
        width: 370px;
        font-size: 40px;

    }

    &::before{
        content: 'по низкой цене';
        color: antiquewhite;
        position: absolute;
        top: 200px;
        right: 5px;
        width: 370px;
        font-size: 35px;

    }
    }
}