.category{
    text-align: center;



    div{
        display: inline-block;
        background:#258bad;
        border-radius: 50px;
        padding: 10px 20px;
        margin-bottom: 25px;
        margin-right: 15px;
        cursor: pointer;
        border: 1px solid transparent;
        transition: all 500ms ease;
        font-size: 20px;
        font-weight: 600;



          &:hover{
              border-color: #96e0f8;
              transform:scale(1.1);

          }
    }

}